/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --LEFT_NAV_BGCOLOR: #333;
    --LEFT_NAV_BGCOLOR_ALT: hsl(0, 0%, 16%);
}

.app {
    display: flex;
    flex-flow: row;
}

.left-nav-container {
    width: 54.92px;
}

.left-nav {
    position: fixed;
    background-color: var(--LEFT_NAV_BGCOLOR);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(348, 83%, 30%);
    width: 100%;
    height: 75px;
}
.lion {
    font-size: 40px;
}

.left-nav-item {
    padding: 1rem .3rem;
    transition: background .4s ease;
    width: 100%;
    text-align: center;
    font-size: 27px;
}

.left-nav-item:hover, .left-nav-item:hover:focus {
    background: var(--LEFT_NAV_BGCOLOR_ALT);
}

.dashboard {
    display: block;
}

.courses {
    display: block;
}

.main-container {
    flex: 1;
    padding: 36px 40px 40px 40px;
    height: 100vh;
    background-color: aqua;
}

.right-items{
    background-color: bisque;
}
