/* 
    Helpful Sites:
    https://www.paste.photos - clipboard to photo
    https://imagecolorpicker.com - palette helper
    https://www.remove.bg/upload - remove photo backgrounds
*/


/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --LEFT_NAV_BGCOLOR: #333;
    --LEFT_NAV_BGCOLOR_ALT: hsl(0, 0%, 16%);
}

.app {
    display: flex;
    flex-flow: row;
}

.left-nav-container {
    width: 54.92px;
}

.left-nav {
    position: fixed;
    background-color: var(--LEFT_NAV_BGCOLOR);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #981e32;
    width: 100%;
    height: 75px;
}
.lion {
    font-size: 40px;
}

a, a:hover, a:focus, a:any-link {
    text-decoration: none;
    color: inherit;
}

.left-nav-item {
    padding: 1rem 0.3rem;
    transition: background 0.4s ease;
    width: 100%;
    text-align: center;
    font-size: 27px;
    text-decoration: none;
}

.left-nav-item:hover,
.left-nav-item:hover:focus {
    background: var(--LEFT_NAV_BGCOLOR_ALT);
}

.main-container {
    flex: 1;
    padding: 36px 50px 40px;
    min-height: 100vh;
    width: auto;
    background-color: whitesmoke;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid hsla(0, 0%, 20%, 0.096);
}

.dashboard-title h2 {
    display: sticky;
    font-size: 38px;
    font-family: LatoWeb, 'Lato Extended', Lato, 'Helvetica Neue', Helvetica,
        Arial, sans-serif;
}

.three-black-dots {
    height: 20px;
    width: auto;
}

.courses-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 40px;
}

.card {
    display: flex;
    width: 262px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.card:hover,
.card:focus {
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3);
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60%;
    width: 100%;
    background-color: #333;
    border-radius: 5px 5px 0 0;
}

.card-header img {
    margin-top: 20px;
    margin-right: 10px;
    height: 18%;
    justify-content: flex-end;
}

.course1-header {
    background-color: hsl(0, 0%, 60%);
}

.course2-header {
    background-color: #a3b18a;
}

.course3-header {
    background-color: rgb(201, 124, 93);
}

.course4-header {
    background-color: rgb(108, 145, 191);
}

.course5-header {
    background-color: rgb(217, 202, 179);
}

.course6-header {
    background-color: #c9c9bb;
}

.right-items-container {
    background-color: bisque;
    width: 280px;
}
